.register{
    height: calc(100vh -25px);
    display: flex;
   
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: url('https://images.unsplash.com/photo-1432821596592-e2c18b78144f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bG9naW58ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60'); */
    background-size: cover;
}
.registerTitle{
    font-size: 50px;
}
.registerForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.registerForm>label{
    margin: 10px 0;
}
.registerForm>input{
    padding: 10px;
    border: none;
    background-color: white;
}
.registerButton{
     margin-top: 20px;
     cursor: pointer;
     background-color: rgb(208, 45, 45);
     border:2ps solid black;
     color: white;
     padding: 10px;
     border-radius: 5px;
}
.registerLoginButton{
  position:absolute;
  top: 60px;
  right: 20px;
  background-color: lightcoral;
  cursor: pointer;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 5px;
}